.bootstrap-tagsinput {
  width: 100% !important;
}

body{
	margin-left: 10%; /* Same as the width of sidenav */
    width: 90%;    
	font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    min-width: 80px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow: hidden; /* Disable horizontal scroll */
    
}

/* The navigation menu links */
.sidebar a {
    /*padding: 6px 8px 6px 16px;*/
    height:25%;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: center;
    vertical-align: middle;	 
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

hr {
    border-top: 1px solid white;
    width: 90%;
    margin: auto;
}


/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 768px) {
    .sidenav {
        padding-top: 15px;
    },
    .sidenav a {
        font-size: 18px;
    },
    .page-content h1, h2, h3{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: none !important; 
    },
    body {
        margin: 0;   
        margin-left: 0;     
    }
}

.page-content{
	color: #39393a ;
    font-size: 28px; /* Increased text to enable scrolling */
    position: fixed;    
    height: 50%;
    width: 50%;
    top: 25%;
    left: 30%;
}

.page-content h1, h2, h3{
	text-align: center;
    vertical-align: middle;	 
	display: flex;
    justify-content: center;
    align-items: center;
}

h1{
	font-size: 48px;
}
