#container{
  /*min-width: 400px; */
  width: 600px; 
  min-height: 400px; 
  height: 600px; 
  margin: 0 auto;
}

th, td{
	padding: 5px;
}

.chart-row div{
  bottom: 0;
}

#x-coordinate, #y-coordinate, #z-coordinate{
  width: 30%; 
  min-height: 100px; 
  height: 100px; 
  margin: 0 auto;
}

.scatter-axis{
  height: 400px;
}

.btn{
  
}