#container, #barycentric-container{
  /*min-width: 400px; */
  width: 600px; 
  min-height: 400px; 
  height: 600px; 
  margin: 0 auto;
}

th, td{
	padding: 5px;
}

.chart-row div{
  bottom: 0;
}

.scatter-axis{
  height: 400px;
}

.btn{
  margin-right: 1em;
  font-size: 16px;
}

.prior-values{
	/*margin-top: 0.5em;*/
}

.prior-tags #prior-title, .channel-tags #channel-values-title{
	margin-bottom:  0.5em;
}

.prior-tags #prior-title span{
	margin-left: 0.5em;
	margin-bottom: : 0;
}

input{
	font-size: 14px;
	
}

.prior-tags .bootstrap-tagsinput .tag{
	background-color:#19A844;
}

.channel-tags .bootstrap-tagsinput .tag{
	background-color:#717469;
}

.prior-tags .bootstrap-tagsinput , .channel-tags .bootstrap-tagsinput  {
	margin-bottom: 0.5em;
}
.calculations, table{
	text-align: center;
}